<div class="modal-content">
  <div class="modal-header" style="border-bottom-width: 0px">
    <h4 class="modal-title" style="color: gray">BarberPro</h4>
    <button class="close float-right" (click)="fecharModal()" aria-label="Close">
      <span aria-hidden="true">x</span>
    </button>
  </div>

  <div class="modal-body">
<p>Information from the barbershop has been saved!</p>
  </div>

  <div class="modal-footer" style="padding: 20px; border-top-color: transparent">
<button class="btn btn-primary" (click)="fecharModal()">ok</button>
  </div>

</div>