<div [formGroup]="myFormSegunda">

    <div class="row my-1">
    <div class="col-6" style="padding-right: 0px" >
      <div class="form-group2">
        <div class="input-wrap2">
          <div class="icon2"><span class="fas fa-clock"></span></div>
          <input  type="time" formControlName="itemPropertyOneSegunda" id="itemPropertyOneSegunda" class="form-control2">
          </div>
      </div>
    </div>
  
    <div class="col-6" style="padding-right: 0px">
      <div class="form-group2">
        <div class="input-wrap2">
          <div class="icon2"><span class="fas fa-clock"></span></div>
          <input type="time"  formControlName="itemPropertyTwoSegunda" id="itemPropertyTwoSegunda" class="form-control2">
        </div>
      </div>
    </div>
  </div>
  
  </div>